<h1>Profile</h1>

<%= link_to 'Home', root_path %>

<h2><%= @user.name %></h2>
<p><%= @user.email %></p>

<h3>Reviews by User: (<%= @user.reviews.count %>)</h3>

<% @user.reviews.newest_first.each do |review| %>

    <p><strong><%= review.product.name %></strong> on <%= review.created_at.to_formatted_s(:long_ordinal) %></p>
  <blockquote>
    <p><%= review.comment %></p>


    <% if @user == current_user %>
      <%= link_to 'Edit', edit_product_review_path(review.product, review) %>
    <% end %>
  </blockquote>

<% end %>
