<h1>Products</h1>

<%= link_to 'Add a Product', new_product_path %>

<%= form_tag root_path, method: :get, id: 'search-form' do %><br>
  <%= text_field_tag :search, params[:search] %>
  <%= submit_tag "Search" %>
<% end %>

<div id='products'>
  <%= render @products %>
</div>
