<h1><%= @product.name %> $<%= @product.formatted_price %></h1>
<p><%= @product.description %></p>

<%= link_to 'Home', root_path %>
<%= link_to 'Edit', edit_product_path %>
<%= link_to 'Delete', @product, method: :delete %>
