<%= form_for [@product, @review], remote: true do |f| %>

  <div id="review-form-errors">
    <%= render '/products/review_form_errors' %>
  </div>


 <div class='field'>
   <%= f.label :comment %>
   <%= f.text_area :comment %>
 </div>
 <div class='submit'>
   <%= f.submit %>
 </div>
<% end %>
